# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
packages/
*.snupkg

# Others
*.swp
*.DS_Store

# User Secrets
# Дуже важливо: цей файл містить секретні ключі, паролі, токени.
# Ніколи не завантажуйте його на GitHub!
appsettings.json